body {
    background-image: url(low-poly-grid-haikei.svg);
    background-size:cover; 
}
.custom-shape-divider-top-1652975636 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652975636 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 225px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1652975636 .shape-fill {
    fill: #FFFFFF;
}